<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="org.fullstack4.bookclub.mapper.MemberMapper">
    <insert id="join">
        INSERT INTO tbl_member(member_id, password, phone, email, name)
        VALUES(#{member_id}, #{password}, #{phone}, #{email}, #{name})
    </insert>
    <select id="login" resultType="org.fullstack4.bookclub.domain.MemberVO">
        SELECT member_id, password, phone, email, reg_date, recent_date, status, fail_count, name
        FROM tbl_member
        WHERE member_id = #{member_id}
    </select>
    <select id="view" resultType="org.fullstack4.bookclub.domain.MemberVO">
        SELECT member_id, password, phone, email, reg_date, recent_date, status, fail_count, name
        FROM tbl_member
        WHERE member_id = #{member_id}
    </select>
    <update id="fail_plus">
        UPDATE tbl_member
        SET fail_count = fail_count + 1
        where member_id = #{member_id}
    </update>
    <update id="reset_fail">
        UPDATE tbl_member
        SET fail_count = 0
        where member_id = #{member_id}
    </update>
    <select id="check_id" resultType="int">
        SELECT count(*)
        FROM tbl_member
        WHERE member_id = #{member_id}
    </select>
    <update id="update_status">
        UPDATE tbl_member
        SET status = 'N'
        WHERE member_id = #{member_id}
    </update>
    <update id="update_pwd">
        UPDATE tbl_member
        SET password = #{pwd}
        WHERE member_id = #{member_id}
    </update>
    <select id="memberList" resultType="org.fullstack4.bookclub.domain.MemberVO">
        SELECT member_id, password, phone, email, reg_date, recent_date, status, fail_count, name
        FROM tbl_member
    </select>

</mapper>